/* GAME ATTRIBUTES */
.game-body {
    background-color: #151515;
}

.game-main {
    justify-items: center;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.game-h1-text {
    color: #b5e853;
    font-size: min(30px, 3vw);
}

/* TITLE ATTRIBUTES */
.title-body {
    background-color: #151515;
}

.title-main {
    justify-items: center;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.title-h1-text {
    color: #b5e853;
    font-size: min(30px, 3vw);
}

.button1 {
    padding: 10px 25px;
    width: 30vw;
    height: 10vw;
    max-width: 300px;
    max-height: 100px;
    border-radius: 5px;

    background-color: #b5e853;

    font-size: min(40px, 4vw);
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}